<center>
<%= form_for @listing do |f| %>
<p><%= f.select(:name, options_for_select([['Wedding','Wedding'],['Senior','Senior'], ['Real Estate', 'Real Estate']]), :prompt => "Category") %></p>
<p><%= f.text_field :location, :placeholder => "Location" %></p>
<p><%= f.select(:budget, options_for_select([['High-Budget','High-Budget'],['Low-Budget','Low-Budget']]), :prompt => "Budget") %></p>
<p><%= f.file_field :photo %></p>
<p><%= f.submit "Create Listing" %></p>
  	<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% end %>
<% end %>
</center>