<main>
  <div id="main">
    <div id="searchbar">
      <div id="searchbar-label">I'm looking for</div>
    
      <div class="searchbar-section">
        <select>
          <option>All</option>
          <option>Senior Portrait</option>
          <option>Wedding</option>
          <option>Real Estate</option>
        </select>
      
        <div class="searchbar-section-label">Photographers</div>
      </div>
    
      <div class="searchbar-label_section">in</div>
    
      <div class="searchbar-section">
        <select>
          <option>All Locations</option>
          <option>Washington, D.C.</option>
          <option>Omaha, NE</option>
          <option>Council Bluffs, NE</option>
        </select>
      </div>
    
      <div class="searchbar-label_section">for</div>
    
      <div class="searchbar-section">
        <select>
          <option>Any Budget</option>
          <option>Low Budget</option>
          <option>High Budget</option>
        </select>
      </div>
    </div>
	
  <% @listings.each do |l| %>
    <% if l.user.pro_status == true %>
    <div id="cards">
      <div class="card card-pro">
        <a href="#" class="card-fav">Add to Favs</a>
      
        <div class="card-preview">
          <a href="/listings/<%= l.id %>"><img src="<%= l.photo %>"></a>
        </div>
    
        <h2 class="card-header"><a href="/listing/<%= l.id %>"><%= l.user.name %></a></h2>
      
        <div class="card-details">
          <div class="card-details-location"><%= l.location %></div>
          <div class="card-details-budget"><%= l.budget %></div>
        </div>
      </div>

	<% else %>
    
      <div class="card">
        <a href="#" class="card-fav">Remove from Favs</a>
        
        <h2 class="card-header"><a href="/listing/<%= l.id %>"></a><%= l.user.name %></h2>
      
        <div class="card-preview">
          <a href="/listings/<%= l.id %>"><img src="<%= l.photo %>"></a>
        </div>
      
        <div class="card-details">
          <div class="card-details-location"><%= l.location %></div>
          <div class="card-details-budget"><%= l.budget %></div>
        </div>
      </div>
	  <% end %>
	<% end %>
         
      </div>
    </div>
  </div>
</main>
