<%= form_for @listing do |f| %>
<%= f.text_field :name, :placeholder => "Location" %>
<%= f.text_field :location, :placeholder => "Location" %>
<%= f.text_field :budget, :placeholder => "Budget" %>	
<%= f.file_field :photo %>
<%= f.submit "Create Listing" %>
  	<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% end %>
<% end %>
